{
    0: (
        id: 0,
        name: "Talk",
        description: "Interact with others",
        hp: None,
        mp: None,
        action_kind: Talk,
        target_kind: Character,
        effect_kind: Character,
        range: 0,
        duration: 0.0,
        cooldown: 0,
        animation: None,
    ),
    1: (
        id: 1,
        name: "Idle",
        description: "Do nothing",
        hp: None,
        mp: None,
        action_kind: Idle,
        target_kind: None,
        effect_kind: Character,
        range: 0,
        duration: 0.0,
        cooldown: 0,
        animation: None,
    ),
    2: (
        id: 2,
        name: "Move",
        description: "Move",
        hp: None,
        mp: None,
        action_kind: Move,
        target_kind: Position,
        effect_kind: Character,
        range: 1,
        duration: 0.2,
        cooldown: 0,
        animation: None,
    ),
    3: (
        id: 3,
        name: "Melee",
        description: "Melee Attack",
        hp: None,
        mp: None,
        action_kind: Damage(10),
        target_kind: Character,
        effect_kind: Character,
        range: 1,
        duration: 1,
        cooldown: 0,
        animation: Some(SpriteSheet(4, "hit")),
    ),
    4: (
        id: 4,
        name: "Fireball",
        description: "Just a standard fireball",
        hp: None,
        mp: Some(1),
        action_kind: Damage(10),
        target_kind: Character,
        effect_kind: Character,
        range: 5,
        duration: 0.5,
        cooldown: 0,
        animation: None,
    ),
    5: (
        id: 5,
        name: "Drain",
        description: "Drain",
        hp: None,
        mp: None,
        action_kind: Drain,
        target_kind: Character,
        effect_kind: Character,
        range: 1,
        duration: 1,
        cooldown: 0,
        animation: None,
    ),
    6: (
        id: 6,
        name: "Explosion",
        description: "Cause damage to everyone with explosion",
        hp: None,
        mp: Some(2),
        action_kind: Damage(10),
        target_kind: Position,
        effect_kind: Square(2),
        range: 5,
        duration: 1,
        cooldown: 0,
        animation: Some(SpriteSheet(5, "explosion")),
    ),
    7: (
        id: 7,
        name: "Lullaby",
        description: "Make target sleep",
        hp: None,
        mp: Some(1),
        action_kind: Lullaby(
            duration: 3,
        ),
        target_kind: Character,
        effect_kind: Character,
        range: 5,
        duration: 1,
        cooldown: 5,
        animation: Some(SpriteSheet(5, "explosion")),
    ),
    8: (
        id: 8,
        name: "Thunder",
        description: "Make target shock",
        hp: None,
        mp: Some(1),
        action_kind: Thunder(
            duration: 3,
        ),
        target_kind: Character,
        effect_kind: Manhattan(1),
        range: 5,
        duration: 1,
        cooldown: 3,
        animation: Some(SpriteSequence(1)),
    ),
    9: (
        id: 9,
        name: "Bean",
        description: "A small bean deal less damage, but do not cost anything",
        hp: None,
        mp: None,
        action_kind: Damage(5),
        target_kind: Character,
        effect_kind: Character,
        range: 5,
        duration: 0.5,
        cooldown: 0,
        animation: None,
    ),
    10: (
        id: 10,
        name: "Concentrated Fireball",
        description: "Just fireball with more damage",
        hp: None,
        mp: Some(3),
        action_kind: Damage(30),
        target_kind: Character,
        effect_kind: Character,
        range: 5,
        duration: 0.5,
        cooldown: 5,
        animation: None,
    ),
    11: (
        id: 11,
        name: "Root",
        description: "Root",
        hp: None,
        mp: Some(1),
        action_kind: Root(3),
        target_kind: Character,
        effect_kind: Character,
        range: 5,
        duration: 0.5,
        cooldown: 5,
        animation: None,
    ),
    12: (
        id: 12,
        name: "Prepared",
        description: "Prepare for the fight, recover mp.",
        hp: None,
        mp: None,
        action_kind: MpRecover(1),
        target_kind: None,
        effect_kind: Character,
        range: 1,
        duration: 0.5,
        cooldown: 5,
        animation: None,
    ),
    13: (
        id: 13,
        name: "Heal",
        description: "Recover hp.",
        hp: None,
        mp: Some(1),
        action_kind: HpRecover(10),
        target_kind: None,
        effect_kind: Character,
        range: 1,
        duration: 0.5,
        cooldown: 5,
        animation: None,
    ),
}