{
    0: (
        // Guide
        id: 0,
        crowd_controls: (
            stun: 0,
            charm: 0,
            shock: 0,
            shocked: false,
            poison: 0,
            sleep: 0,
            root: 0,
            silent: 0,
        ),
        position: (
            map_id: 0,
            x: 5,
            y: 5,
        ),
        controller: NPC,
        items: [],
        character_action_ids: [ 1, 2, 3, 4, ],
        race: Demon,
        character_sprite_id: 2,
        offset_x: 0,
        offset_y: 0,
        defeated: false,
        dead: false,
        experience: 8945,
        level: 20,
        hp: (
            base: 2000,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        mp: (
            base: 2000,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        attack: (
            base: 100,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        defence: (
            base: 50,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        sanity: (
            base: 100,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        hidden: false,
        talk_id: 2,
        gold: 0,
        wood: 0,
        shop: None,
    ),
    -1: (
        // Skill Shopkeeper
        id: -1,
        crowd_controls: (
            stun: 0,
            charm: 0,
            shock: 0,
            shocked: false,
            poison: 0,
            sleep: 0,
            root: 0,
            silent: 0,
        ),
        position: (
            map_id: 0,
            x: 1,
            y: 5,
        ),
        controller: NPC,
        items: [],
        character_action_ids: [ 5, 6, 7, 8, ],
        race: Demon,
        character_sprite_id: 2,
        offset_x: 0,
        offset_y: 0,
        defeated: false,
        dead: false,
        experience: 8945,
        level: 20,
        hp: (
            base: 2000,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        mp: (
            base: 2000,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        attack: (
            base: 100,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        defence: (
            base: 50,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        sanity: (
            base: 100,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        hidden: false,
        talk_id: 3,
        gold: 0,
        wood: 0,
        shop: Some(Shop(
            id: 0,
            items: [
                (
                    item_id: 1,
                    stock: None,
                ),
                (
                    item_id: 2,
                    stock: None,
                ),
                (
                    item_id: 3,
                    stock: None,
                ),
                (
                    item_id: 4,
                    stock: None,
                ),
                (
                    item_id: 5,
                    stock: None,
                ),
                (
                    item_id: 6,
                    stock: None,
                ),
                (
                    item_id: 7,
                    stock: None,
                ),
                (
                    item_id: 8,
                    stock: None,
                ),
            ],
        )),
    ),
    1: (
        id: 1,
        crowd_controls: (
            stun: 0,
            charm: 0,
            shock: 0,
            shocked: false,
            poison: 0,
            sleep: 0,
            root: 0,
            silent: 0,
        ),
        position: (
            map_id: -2,
            x: 5,
            y: 10,
        ),
        controller: Player,
        items: [],
        character_action_ids: [ 9, 10, 11, 12, ],
        race: Human,
        character_sprite_id: 1,
        offset_x: 0,
        offset_y: 0,
        defeated: false,
        dead: false,
        experience: 0,
        level: 1,
        hp: (
            base: 110,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        mp: (
            base: 110,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        attack: (
            base: 30,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        defence: (
            base: 5,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        sanity: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        hidden: false,
        talk_id: 1,
        gold: 0,
        wood: 0,
        shop: None,
    ),
    2: (
        id: 2,
        crowd_controls: (
            stun: 0,
            charm: 0,
            shock: 0,
            shocked: false,
            poison: 0,
            sleep: 0,
            root: 0,
            silent: 0,
        ),
        position: (
            map_id: 1,
            x: 1,
            y: 5,
        ),
        controller: Enemy,
        items: [],
        character_action_ids: [ 13, 14, 15, 16, ],
        race: Demon,
        character_sprite_id: 2,
        offset_x: 0,
        offset_y: 0,
        defeated: false,
        dead: false,
        experience: 8945,
        level: 20,
        hp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        mp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        attack: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        defence: (
            base: 5,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        sanity: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        hidden: false,
        talk_id: 1,
        gold: 0,
        wood: 0,
        shop: None,
    ),
    3: (
        id: 3,
        crowd_controls: (
            stun: 0,
            charm: 0,
            shock: 0,
            shocked: false,
            poison: 0,
            sleep: 0,
            root: 0,
            silent: 0,
        ),
        position: (
            map_id: 1,
            x: 5,
            y: 8,
        ),
        controller: Enemy,
        items: [],
        character_action_ids: [ 17, 18, 19, 20, ],
        race: Demon,
        character_sprite_id: 2,
        offset_x: 0,
        offset_y: 0,
        defeated: false,
        dead: false,
        experience: 8945,
        level: 20,
        hp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        mp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        attack: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        defence: (
            base: 5,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        sanity: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        hidden: false,
        talk_id: 1,
        gold: 0,
        wood: 0,
        shop: None,
    ),
    4: (
        id: 4,
        crowd_controls: (
            stun: 0,
            charm: 0,
            shock: 0,
            shocked: false,
            poison: 0,
            sleep: 0,
            root: 0,
            silent: 0,
        ),
        position: (
            map_id: 1,
            x: 10,
            y: 8,
        ),
        controller: Enemy,
        items: [],
        character_action_ids: [ 21, 22, 23, 24, ],
        race: Demon,
        character_sprite_id: 2,
        offset_x: 0,
        offset_y: 0,
        defeated: false,
        dead: false,
        experience: 8945,
        level: 20,
        hp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        mp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        attack: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        defence: (
            base: 5,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        sanity: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        hidden: false,
        talk_id: 1,
        gold: 0,
        wood: 0,
        shop: None,
    ),
    5: (
        id: 5,
        crowd_controls: (
            stun: 0,
            charm: 0,
            shock: 0,
            shocked: false,
            poison: 0,
            sleep: 0,
            root: 0,
            silent: 0,
        ),
        position: (
            map_id: 1,
            x: 15,
            y: 8,
        ),
        controller: Enemy,
        items: [],
        character_action_ids: [ 25, 26, 27, 28, ],
        race: Demon,
        character_sprite_id: 2,
        offset_x: 0,
        offset_y: 0,
        defeated: false,
        dead: false,
        experience: 8945,
        level: 20,
        hp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        mp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        attack: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        defence: (
            base: 5,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        sanity: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        hidden: false,
        talk_id: 1,
        gold: 0,
        wood: 0,
        shop: None,
    ),
    6: (
        id: 6,
        crowd_controls: (
            stun: 0,
            charm: 0,
            shock: 0,
            shocked: false,
            poison: 0,
            sleep: 0,
            root: 0,
            silent: 0,
        ),
        position: (
            map_id: 1,
            x: 5,
            y: 18,
        ),
        controller: Enemy,
        items: [],
        character_action_ids: [ 29, 30, 31, 32, ],
        race: Demon,
        character_sprite_id: 2,
        offset_x: 0,
        offset_y: 0,
        defeated: false,
        dead: false,
        experience: 8945,
        level: 20,
        hp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        mp: (
            base: 20,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        attack: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        defence: (
            base: 5,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        sanity: (
            base: 10,
            drain: 0,
            damage: 0,
            modifier: 0,
        ),
        hidden: false,
        talk_id: 1,
        gold: 0,
        wood: 0,
        shop: None,
    ),
}